{% extends theme('cart/cart_base.html') %}
{% block js_footer %}
<script>
   function ajax_set_processor(processor) {
       console.log(processor);
       $.post("{{ url_for('cart.setprocessor')}}", {"processor": processor});
   }
</script>
{% endblock %}

{% block cart_base %}
    <table class="table">
	<thead>
	    <tr>
		<th colspan="2">Animal</th>
		<th style="min-width: 100px;">Doação</th>
		<!-- th>Quantidade</th -->
		<!-- th>Total</th -->
		<th></th>
	    </tr>
	</thead>
	<tbody>
	    {% for item in cart.items %}
	    <tr>

         <td>

        {% with main_image=item.product.get_main_image_url(thumb=True, default="http://placehold.it/199x142") %}
            {% if main_image %}
            <a href="{{item.link}}">
                <img class="img-rounded" src="{{main_image}}" width="60" height="60"/>
            </a>
            {% endif %}
        {% endwith %}

        </td>

		<td>
		    {% if item.link %}
		    <h5><a href="{{item.link}}">{{ item.title }}</a></h5>
		    {% else %}
		    <h5><a href="{{item.link}}">{{ item.title }}</a></h5>
		    {% endif %}

		    <p>{{ item.description|truncate(140)|safe() }}</p>
		</td>
		<td>{{item.unity_value|asreal}} </td>
		<!--td>
		    <form action="{{url_for('cart.setitem')}}" method="POST">
			<input type="hidden" value="{{item.uid}}" name="uid">
			<input style="width: 30px;" type="number" min="1"  value="{{ item.quantity|int }}" name="quantity" onchange="$(this).parent().submit()">
		    </form>
		</td -->
		<!-- td>R$ {{"{:.2f}".format(item.total)|replace(".", ",")}} </td -->
		<td>
		    <form action="{{url_for('cart.removeitem')}}" method="POST">
			<input type="hidden" value="{{item.uid}}" name="uid">
			<input type="submit" value="x remover" class="btn btn-xs" title="remove item">
		    </form>
		</td>
	    </tr>
	    {% endfor %}
	    <tr>
		<td colspan="2"></td>
		<!-- td> {{ cart.items|sum(attribute="quantity")|int }} </td -->
		<td colspan="2" class="text-info ">{{cart.total|asreal}} </td>
	    </tr>
	</tbody>
    </table>

    <div style="float-left" class="grid_6">

    <a href="{{cart.continue_shopping_url}}" class=" btn btn-warning">Continuar doando</a>
    <br /><br />

     {#
    {% if current_user.is_authenticated() %}
    <a href="{{url_for('cart.history')}}" class=" btn btn-info">Suas doações</a>
    {% endif %}
    #}

    </div>

    <form class="grid_5" action="{{url_for('cart.checkout')}}" method="POST" style="float: right;">
	<fieldset>
	     <legend>Pagamento</legend>
	    {%for processor in cart.get_available_processors() %}
	    <label for="processor_{{processor.identifier}}">
		<input onchange="ajax_set_processor($(this).val())" type="radio" id="processor_{{processor.identifier}}" name="processor" value="{{processor.identifier}}" {% if processor == cart.processor %}checked{% endif %}>
		{{processor.title}}
	    </label>
        <br>
	    {% endfor %}
	</fieldset>
	<br>
	{%if current_user.is_authenticated() or not cart.requires_login %}
	<input type="submit" value="Concluir doação" class=" btn btn-success">
	<br />
	<small>Logado como: {{current_user.email}} </small><br>
	<small><a href="{{url_for_security('logout', next=url_for('cart.cart'))}}">Sair e entrar com um outro usuário</a> </small>
	{% else %}
	<a href="{{url_for_security('register', next=url_for('cart.cart'))}}" class="btn btn-primary">Login e concluir a doação</a>
    <hr>
    <h5>Ou faça login utilizando as redes sociais</h5>

<a class="zocial google icon" href="{{url_for('oauth_login', provider='google')}}" title="Google login">Google</a>
<a class="zocial facebook icon" href="{{url_for('oauth_login', provider='facebook')}}" title="Facebook login">Facebook</a>

	{% endif %}
    </form>

{% endblock %}
