{% extends theme("base.html") %}
{% block content %}
    <div class="container_16">
        <div class="wrapper">
            <div class="grid_16">
                <h3 class="padd-3">{% block cart_title %}Sua doação{% endblock %}</h3>
            </div>
            <div class="grid_16">
                {% block cart_base %}
                {% endblock %}
            </div>



            <div class="grid_16">

            <h4 class="padd-2">Ajude também</h4>
            </div>

            {% for item in get_random_campaign(items=4, long_slug__startswith='animais/') %}

            <div class="grid_4 bot-4 {%if loop.last%}marg-right-0{%endif%}">
                {% with main_image=item.get_main_image_url(thumb=True, default="http://placehold.it/199x142") %}
                    {% if main_image %}
                    <a href="{{item.get_absolute_url()}}" class="img-ribbon">
                        <img class="img-rounded" src="{{main_image}}" width="200" height="200"/>
                    </a>
                    {% endif %}
                {% endwith %}
                <a href="{{item.get_absolute_url()}}" class="font-14 lh-18 hov"><h4 class="top-3">{{item.title}}<small class="pull-right" style="margin-right:20px;line-height:17px;"><span>Ganhou:</span>{{item.balance|asreal}}</small></h4></a>
                <span>{{item.get_summary()|truncate(140)}} </span>
            </div>

                   {% if loop.index == 4 %}
       <div class="clear"></div>
       {% endif %}

            {% endfor %}

            <div class="pull-right"> <a class="btn btn-primary" href="{{url_for('list', long_slug='animais')}}">Veja todos os animais</a> </div>



        </div><!--the end of wrapper-->
    </div>
{% endblock %}
