{% extends theme('cart/cart_base.html') %}

{% block cart_title %}
Complete seus dados
{% endblock %}

{% block cart_base %}
<style>
    .form-horizontal .control-label {
text-align: left;
}

</style>
<div class="grid_16">

<form class="form-horizontal" role="form" action="{{url_for('cart.checkout')}}" method="POST">

<div class="form-group bot-3">
<input type="hidden" name="cart_complete_information" value="true">
{%if not valid_name %}
<span class="alert alert-danger">Por favor informe o seu nome completo</span>
{% endif %}
</div>

<div class="form-group">
<label for="name" class="col-sm-2 control-label">Nome completo (nome e sobrenome):</label>
<div class="col-sm-5">
<input type="text" class="form-control input-sm" name="name" value="{{name or ""}}" required>
</div>
</div>

<div class="form-group">
<label for="email" class="col-sm-2 control-label">Email</label>
<div class="col-sm-5">
<input type="text" class="form-control input-sm" name="email" value="{{current_user.email}}" required>
</div>
</div>

<br />
<div class="form-group">
<div class="col-sm-10">
<input type="submit" class="btn btn-primary" value="Confirmar">
</div>
</div>
</form>


</div>
<a class="btn" href="{{url_for_security('logout', next=url_for('cart.cart'))}}">Sair e fazer login com outro usuário</a>


{% endblock %}