{% extends theme('cart/cart_base.html') %}
{% block cart_base %}
    <p class="well">
        Obrigado por sua doação!<br />
        Assim que o pagamento for validado sua doação será confirmada!<br />


            <a href="{{url}}" class="btn btn-success">Continuar doando</a>
    {% if current_user.is_authenticated() %}
        <a class="btn btn-primary" href="{{url_for('cart.history')}}">Histórico de doações</a>
    {% endif %}
    </p>
{% endblock %}
