{% extends theme('cart/cart_base.html') %}


{%block cart_title %}Pagamento com depósito bancário ou transferência{% endblock %}


{% block cart_base %}

<div>
<h4>Total de sua doação: R$ {{cart.total|asreal}}</h4>
{% with %}
{% set content=get_content(slug="deposito-transferencia") %}
    {% if content %}
     {{content.get_text()|safe}}
    {% else %}
    é preciso criar um post com o slug: deposito-transferencia
    {% endif %}


{% endwith %}
</div>

<p><br>    <a href="{{cart.continue_shopping_url}}" class="btn btn-success">Continuar doando</a>
    {% if current_user.is_authenticated() %}
        <a class="btn btn-primary" href="{{url_for('cart.history')}}">Histórico de doações</a>
    {% endif %}</p>
{% endblock %}