{% extends theme('cart/cart_base.html') %}

{% block cart_base %}
    <h3 class="alert alert-info">Seu carrinho está vazio.</h3>
    <a href="{{url}}" class="btn btn-success">Continuar doando</a>
    {% if current_user.is_authenticated() %}
        <a class="btn btn-primary" href="{{url_for('cart.history')}}">Histórico de doações</a>
    {% endif %}


{%if current_user.is_authenticated()%}
    <br />
    <small>Logado como: {{current_user.email}} </small><br>
    <small><a href="{{url_for_security('logout', next=url_for('cart.cart'))}}">Sair e entrar com um outro usuário</a> </small>
    {% else %}
    <br /><br />
    <a href="{{url_for_security('login', next=url_for('cart.cart'))}}" class="btn btn-primary">Login</a>
    <h5>Ou faça login utilizando as redes sociais</h5>

<a class="zocial google icon" href="{{url_for('oauth_login', provider='google')}}" title="Google login">Google</a>
<a class="zocial facebook icon" href="{{url_for('oauth_login', provider='facebook')}}" title="Facebook login">Facebook</a>

    {% endif %}
{% endblock %}