{% extends theme('cart/cart_base.html') %}

{% block cart_base %}
    <p><br><a href="{{url_for('cart.cart')}}" class="btn btn-primary">Ir para o carrinho</a></p>

    <div class="well">
    Histórico de doações:<br>
    <span class="label label-default">pending</span>: pendente de pagamento<br />
    <span class="label label-warning">checket_out</span>: em processo de pagamento, mas não confirmado<br/>
    <span class="label label-success">confirmed</span>: pagamento confirmado <br>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Referência</th>
                <th>Status</th>
                <th>Itens</th>
                <th>Total</th>
                <th>Código</th>
                <th>Data</th>


            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
        <tr>
            <td>{{cart.get_uid()}}</td>
            <td>{{cart.status}}</td>
            <td>
                Items: {{cart.items.count()}}<br>
                <ul>
                    {% for item in cart.items %}
                    <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{cart.total|asreal}}</td>
            <td>{{cart.checkout_code}}</td>
            <td>{{cart.created_at}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
