{% extends theme('cart/cart_base.html') %}


{%block cart_title %}Pagamento com Paypal.{% endblock %}


{% block cart_base %}

<div class="bot-4">
<h4>Total de sua doação: R$ {{cart.total|asreal}}</h4>
<p>
Por favor clique no botão abaixo para efetuar o pagamento de sua doação através do PayPal.
</p>
<hr>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="business"
        value="natalanimal@gmail.com">

    <!-- Specify a Donate button. -->
    <input type="hidden" name="cmd" value="_donations">

    <!-- Specify details about the contribution -->
    <input type="hidden" name="item_name" value="Natal Animal 2013 - {{cart.get_uid()}}">
    <input type="hidden" name="item_number" value="{{cart.get_uid()}}">
    <input type="hidden" name="amount" value="{{cart.total}}">
    <input type="hidden" name="currency_code" value="BRL">

    <!-- Display the payment button. -->
    <input type="image" name="submit" border="0"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
    alt="PayPal - The safer, easier way to pay online">
    <img alt="" border="0" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
</form>
</div>

<p><br>    <a href="{{cart.continue_shopping_url}}" class="btn btn-success">Continuar doando</a>
    {% if current_user.is_authenticated() %}
        <a class="btn btn-primary" href="{{url_for('cart.history')}}">Histórico de doações</a>
    {% endif %}</p>
{% endblock %}