{% extends theme("base.html") %}

{% block content %}
<div class="container_16">
    <div class="wrapper">
<div class="grid_16">
{% from theme("security/_macros.html") import render_field_with_errors, render_field, render_button %}
{% include theme("security/_messages.html") %}
<h1>Change password</h1>
</div>
<div class="grid_16">
<form class="form-horizontal" role="form" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password,  class="form-control") }}
  {{ render_field_with_errors(change_password_form.new_password,  class="form-control") }}
  {{ render_field_with_errors(change_password_form.new_password_confirm,  class="form-control") }}
  {{ render_button(change_password_form.submit, class="btn btn-primary") }}
</form>
</div>

</div>

</div>
{% endblock %}
