{% extends theme("base.html") %}

{% block content %}
<div class="container_16">
    <div class="wrapper">

<div class="grid_16">
{% from theme("security/_macros.html") import render_field_with_errors, render_field, render_button %}
{% include theme("security/_messages.html") %}
<h1>Send password reset instructions</h1>
</div>
<div class="grid_16">
<form class="form-horizontal" role="form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ render_field_with_errors(forgot_password_form.email, class="form-control", placeholder="you@domain.com") }}
  {{ render_button(forgot_password_form.submit, class="btn btn-primary") }}
</form>
</div>
<div class="grid_16">
{% include theme("security/_menu.html") %}
</div>
</div>
</div>
{% endblock %}