{% extends theme("base.html") %}
{% from theme("security/_macros.html") import render_field_with_errors, render_field, render_button %}

{% block content %}

<div class="container_16">
    <div class="wrapper">



{% include theme("security/_messages.html") %}
<div class="grid_16">
<h1>Efetuar login</h1>
</div>

<div class="grid_16">
<p>
<h4>Já possui uma conta de usuário no Natal Animal? faça login</h4>
</p>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="form-horizontal" role="form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email, class="form-control input-sm", placeholder="you@domain.com") }}
  {{ render_field_with_errors(login_user_form.password, class="form-control input-sm") }}
  {{ render_field_with_errors(login_user_form.remember, class='form-control input-sm', css_class="col-sm-1", style="height:14px;") }}
  {{ render_field(login_user_form.next) }}
  {{ render_button(login_user_form.submit, class="btn btn-primary", value="Entrar") }}
</form>
<h4>Ou faça login utilizando uma conta nas redes sociais</h4>
<a class="zocial google" href="{{url_for('oauth_login', provider='google')}}" title="Google login">Google</a>
<a class="zocial facebook" href="{{url_for('oauth_login', provider='facebook')}}" title="Facebook login">Facebook</a>
</div>

<div class="grid_16">
<p>
<h4>Ainda não tem cadastro? clique em cadastrar-se!</h4>
</p>

{% include theme("security/_menu.html") %}
</div>

    </div>
</div>
{% endblock %}