{% from theme("security/_macros.html") import render_field_with_errors, render_field, render_button %}
{% extends theme("base.html") %}


{% block content %}

<div class="container_16">
    <div class="wrapper">


{% include theme("security/_messages.html") %}
<div class="grid_16">
<h1>Faça seu cadastro</h1>
</div>
<div class="grid_16">
<form class="form-horizontal" role="form" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">

  {{ register_user_form.hidden_tag() }}

  {{ render_field_with_errors(register_user_form.email, class="form-control input-sm", placeholder="you@domain.com") }}
  {{ render_field_with_errors(register_user_form.password, class="form-control input-sm") }}
  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm, class="form-control input-sm") }}
  {% endif %}
  {{ render_button(register_user_form.submit, class="btn btn-primary", value="Efetuar cadastro") }}

<h4>Ou cadastre-se utilizando uma conta nas redes sociais</h4>
<a class="zocial google" href="{{url_for('oauth_login', provider='google')}}" title="Google login">Google</a>
<a class="zocial facebook" href="{{url_for('oauth_login', provider='facebook')}}" title="Facebook login">Facebook</a>
</form>
</div>
<div class="grid_16">
<p>
<h4>Ja tem cadastro? clique em login!</h4>
</p>
{% include theme("security/_menu.html") %}
</div>

    </div>
</div>
{% endblock %}