{% extends "base.html" %}

{% block content %}
<div class="container_16">
    <div class="wrapper">
<div class="grid_16">
{% from "security/_macros.html" import render_field_with_errors, render_field, render_button %}
{% include "security/_messages.html" %}
<h1>Reset password</h1>
</div>
<div class="grid_16">
<form class="form-horizontal" role="form" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
  {{ reset_password_form.hidden_tag() }}
  {{ render_field_with_errors(reset_password_form.password, class="form-control") }}
  {{ render_field_with_errors(reset_password_form.password_confirm, class="form-control") }}
  {{ render_button(reset_password_form.submit, class="btn btn-primary") }}
</form>
</div>
<div class="grid_16">
{% include "security/_menu.html" %}
</div>

</div>
</div>
{% endblock %}