{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" type="text/css" media="screen" href="{{theme_static('css/united.css')}}">
{% endblock %}
{% block content %}

<div class="container_16">
    <div class="wrapper">

<div class="grid_16">
{% from "security/_macros.html" import render_field_with_errors, render_field, render_button %}
{% include "security/_messages.html" %}
<h1>Resend confirmation instructions</h1>
</div>
<div class="grid_16">
<form class="form-horizontal" role="form" action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
  {{ send_confirmation_form.hidden_tag() }}
  {{ render_field_with_errors(send_confirmation_form.email, class="form-control") }}
  {{ render_button(send_confirmation_form.submit, class="btn btn-primary") }}
</form>
</div>
<div class="grid_16">
{% include "security/_menu.html" %}
</div>

</div>
</div>
{% endblock %}