{% extends theme('cart/cart_base.html') %}

{% block cart_title %}
Dados complementares
{% endblock %}

{% block cart_base %}
<style>
    .form-horizontal .control-label {
text-align: left;
}

</style>
<div class="grid_16">

{% with content=get_content(slug='doacao-para-o-projeto') %}
<div data-slug='doacao-para-o-projeto' class="text-info">
    {%if content %}
        {{ content.get_text()|safe }}
    {% endif %}
</div>
{% endwith %}


<form class="form-horizontal" role="form" action="{{url_for('cart.checkout')}}" method="POST">

<input type="hidden" name="fundraising_complete_information_confirm" value="true">

<div class="form-group">
<label for="donation_to_project" class="col-sm-4 control-label">Deseja efetuar uma doação para o projeto? (opcional)</label>
<div class="col-sm-3">
<select class="form-control" id="donation_to_project" name="donation_to_project">
    <option value=""> R$ 0,00 </option>
    {% for val in (5, 10, 15, 20, 25, 30, 25, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 125, 150, 175, 200, 250, 300, 400, 500) %}
    <option value="{{val}}">R$ {{("%.2f" % val)|string|replace(".", ",") }}</option>
    {% endfor %}
</select>
</div>
</div>

<hr />
<div class="text-info">
O nome dos apoiadores é exibido na página de cada animal beneficiado, mostramos apenas o nome! (<strong>o valor da doação e email permanecem em sigilo</strong>), caso não queira mostrar o seu nome desmarque a opção abaixo:
</div>
  <div class="form-group">
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
           Exibir seu nome na página de doações do projeto? <input type="checkbox" name="published" checked>
        </label>
      </div>
    </div>
  </div>

<div class="form-group">
<label for="display_name" class="col-sm-2 control-label">Nome para exibição</label>
<div class="col-sm-5">
<input type="text" class="form-control input-sm" name="display_name" value="{{name or ""}}" required>
</div>
</div>

<br />
<div class="form-group">
<div class="col-sm-10">
<input type="submit" class="btn btn-primary" value="Confirmar">
</div>
</div>
</form>


</div>
<a class="btn" href="{{url_for_security('logout', next=url_for('cart.cart'))}}">Sair e fazer login com outro usuário</a>


{% endblock %}