{% extends theme('base.html') %}
{% from theme('_helpers.html') import render_mini_grid %}
{% block content %}
<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h3 class="padd-3"> Extrato financeiro </h3>
        </div>

        <div class="grid_16">
           <table class="table table-hover table-condensed">
               <thead>
                   <tr>
                       <th>Meio de pagamento</th>
                       <th>Doações</th>
                       <th>Total arrecadado</th>
                       <th>Taxas</th>
                       <th>Saldo</th>
                   </tr>
               </thead>
               <tbody>

               {%for item in aggregated %}
                   <tr>
                       <td class="text-success">{{item._id}}</td>
                       <td>{{item.count}}</td>
                       <td>{{item.total|asreal}}</td>
                       <td>{{item.taxes|asreal}}</td>
                       <td class="total">{{(item.total - item.taxes)|asreal}}</td>
                   </tr>
               {% endfor %}
                    <tr class="aggregation">
                        <td></td>
                        <td>{{donations|length}}</td>
                        <td>{{total|asreal}}</td>
                        <td class="text-primary">{{taxes|asreal}}</td>
                        <td class="total text-info lead">{{balance|asreal}}</td>
                    </tr>


               </tbody>
           </table>
        </div>

        <div class="grid_12">
        <h4>Beneficiados</h4>
        <table class="table table-hover table-condensed" style="width:70%">
            <thead>
                <tr>
                    <th>Beneficiado</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                {% for item in aggregate_by_channel %}
                    <tr>
                        <td class="text-info"><a href="{{item.channel.get_absolute_url()}}">{{item.channel.title}}</a></td>
                        <td class="text-info">{{(item.total - (taxes * (item.total / total * 100) / 100))|asreal}}</td>
                    </tr>
                {% endfor %}
                    <tr>

                    </tr>
            </tbody>
        </table>
        <h4>Animais</h4>
        <h3><small>Gostaríamos de arrecadar R$ 350,00 para cada um deles</small></h3>
        {{render_mini_grid(campaigns)}}
        </div>

        <div class="grid_4">
        <h4>Apoiadores</h4>
        <ul>
        {% for group in donations|selectattr("published")|groupby('display_name') %}
        <li>
            {{group.grouper}}
        </li>
        {% endfor %}
        </ul>


        </div>
    </div>
</div>
{% endblock %}