{% extends theme('base.html') %}
{% from theme('_helpers.html') import render_mini_grid %}
{% block content %}
<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h3 class="padd-3"> Sem doações :( </h3>
        </div>
    </div>
</div>
{% endblock %}