{% from theme('_helpers.html') import render_blog, render_pagination with context %}
{% extends theme("base.html") %}

{%block title%} {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description}}">
<meta name="keywords" content="{{channel.tags|join(',')}}">
{% endblock %}

{% block content %}
<div class="container_16">
    <div class="wrapper">

    <div class="grid_16">
      <h3 class="padd-3" style="margin-top:0;">Blog do Natal Animal</h3>
    </div>
    <div class="grid_16">
    {{render_blog(contents.items)}}
    </div>

    <div class="grid_16">
     {{render_pagination(contents, channel.get_absolute_url())}}
    </div>

    </div>
</div>
{% endblock %}