{% from theme('_helpers.html') import load_comment_area, load_tags_area, load_share_area, load_recommendation_area, load_page_header, load_page_time, load_page_content  with context %}
{% extends theme("base.html") %}

{%block title%} {{content.title}} | {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}

{% block top_ %}
<div class="container_16">
    <div class="wrapper">

    <div class="grid_16">
        <small>{{load_page_time(content)}}</small>
    </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class="container_16">
    <div class="wrapper">
    <div class="grid_16">
        {{load_page_header(content)}}
    </div>
        <div class="grid_16">
        <small>{{load_page_time(content)}}</small>
    </div>
    <div class="grid_16">
        <div class="pull-right grid_6">
        {{load_share_area(content)}}
        </div>
    </div>
    <div class="grid_16 bot-3">
        {{load_page_content(content)}}
    </div>
    <div class="grid_16 bot-3">
        {{load_tags_area(content)}}
    </div>
    <div class="grid_16 bot-3 comment-area">
        {{load_comment_area(content)}}
    </div>



            {% for item in get_random_campaign(items=4, long_slug__startswith='animais/') %}

            <div class="grid_4 bot-4 {%if loop.last%}marg-right-0{%endif%}">
                {% with main_image=item.get_main_image_url(thumb=True, default="http://placehold.it/199x142") %}
                    {% if main_image %}
                    <a href="{{item.get_absolute_url()}}" class="img-ribbon">
                        <img class="img-rounded" src="{{main_image}}" width="200" height="200"/>
                    </a>
                    {% endif %}
                {% endwith %}
                <a href="{{item.get_absolute_url()}}" class="font-14 lh-18 hov"><h4 class="top-3">{{item.title}}<small class="pull-right" style="margin-right:20px;line-height:17px;"><span>Ganhou:</span>{{item.balance|asreal}}</small></h4></a>

                <span>{{item.get_summary()|truncate(140)}} </span>
            </div>

                   {% if loop.index == 4 %}
       <div class="clear"></div>
       {% endif %}

            {% endfor %}

          <div class="pull-right"> <a class="btn btn-primary" href="{{url_for('list', long_slug='animais')}}">Veja todos os animais</a> </div>

    <!-- div class="grid_16 bot-3">
    {#
        {{load_recommendation_area(content)}}
        #}
    </div -->

   </div>
</div>
{% endblock %}


{% block js_footer %}
{% if Config.get('comments', 'system') == 'internal' %}
<script>
$(function(){

    function bind_comment_form_submit(){
        $("form").on("submit", function(e){
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR)
                {
                    //data: return data from server
                    $("#comment-area").html(data);
                    bind_comment_form_submit();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    //if fails
                }
            });
            e.preventDefault(); //STOP default action
        })
    }

    function load_internal_comments(){
        var comment_area = $("#comment-area" );
        comment_area.empty();
        comment_area.load( comment_area.attr('data-path'), function() {
            console.log( "Load was performed." );
            bind_comment_form_submit();
        });
    }

    load_internal_comments();

})
</script>
{% endif %}
{% endblock %}