{% from theme('_helpers.html') import render_list, render_pagination with context %}
{% extends theme("base.html") %}

{%block title%} Tag search | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="Tag Search">
<meta name="keywords" content="{{request.view_args.tag}}">
<link rel="alternate" type="application/atom+xml" title="Tagged posts (Atom 0.3)" href="{{url_for('atom_tag', tag=request.view_args.tag)}}">
{% endblock %}

{% block content %}

<div class="container_16">
    <div class="wrapper">


    <div class="page-header">
     <h2>Postagens com a tag "{{request.view_args.tag}}"</h2>
    </div>
    {{render_list(contents.items)}}
    <div class="col-12 col-sm-12 col-lg-12" style="clear:both;">
     {{render_pagination(contents, request.path)}}
    </div>

   </div>
</div>
{% endblock %}