{% from theme('_helpers.html') import load_comment_area, load_tags_area, load_share_area, load_recommendation_area, load_page_header, load_page_time, load_page_content  with context %}
{% extends theme("base.html") %}

{%block title%} {{content.title}} | {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}

{% block content %}


<div class="container_16">
    <div class="wrapper bg-wrap-1">
        <div class="grid_11 suffix_1">
            <div class="grid_5 marg-left-0">
               <h3 class="padd-1" style="margin-top:0;">{{content.title}}</h3>
            </div>
            <div class="grid_6 marg-right-0">
               {{load_share_area(content)}}
            </div>
            <div class="clear"></div>
            <div class="grid_5 marg-left-0">
                <!-- img src="images/page-1-img.jpg" alt="" class="top-2" -->

                {% with %}
                {% set home_image=content.get_main_image_url(thumb=False, default=None, identifier=['homeimage', 'mainimage']) %}
                {% set main_image=content.get_main_image_url(thumb=False, default=None, identifier='mainimage') %}
                {% if home_image %}
                <a href="{{main_image}}" data-rel="lightcase" title="{{content.title}}">
                    <figure>
                <img class="img-rounded zoom-image" src="{{home_image}}" class="top-2" width="236"/>
                <figcaption><small>Clique na imagem para ampliar</small></figcaption>
                 </figure>
                </a>
                {% endif %}
                {% endwith %}


             <div>
                <br />
                {% if content.open_for_donations %}
                <form role="form" class="form-inline" action="{{url_for('fundraising.donate')}}" method="POST">
                    <input type="hidden" value="{{content.get_uid()}}" name="campaign_id" id="campaign_id">
                    <div class="col-xs-5" style="padding-left:0;">
                    <select id="value" name="value" class="form-control">
                        {% for val in (5, 10, 15, 20, 25, 30, 25, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 125, 150, 175, 200, 250, 300, 400, 500) %}
                        <option value="{{val}}" {%if val == 10 %} selected {%endif%}>R$ {{("%.2f" % val)|string|replace(".", ",") }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Fazer doação" /><span></span>
                </form>
                {% else %}
                <p class="text-info">
                    Período de doações finalizado!<br>
                    Obrigado!
                </p>
                {% endif %}
                </div>

            </div>

            <div class="grid_6 marg-right-0  marg-left-0">
                <!-- span class="font-14 lh-18">{{content.summary}}</span-->
                <div class="bot-3 text-left">{{ content.get_text()|safe() }}</div>

            </div>

            <div class="clear"></div>
            <h4 class="padd-2">Ajude também</h4>

            {% for item in get_random_campaign(current_id=content.id, long_slug__startswith='animais/') %}

            <div class="box-1 {%if loop.last%}marg-right-0{%endif%}">
                {% with main_image=item.get_main_image_url(thumb=True, default="http://placehold.it/199x142") %}
                    {% if main_image %}
                    <a href="{{item.get_absolute_url()}}" class="img-ribbon img-ribbon-2">
                        <img class="img-rounded" src="{{main_image}}" width="200" height="200"/>
                    </a>
                    {% endif %}
                {% endwith %}
                <a href="{{item.get_absolute_url()}}" class="font-14 lh-18 hov"><h4 class="top-3">{{item.title}}<small class="pull-right" style="margin-right:20px;line-height:17px;"><span>Ganhou:</span>{{item.balance|asreal}}</small></h4></a>
                <span>{{item.get_summary()|truncate(140)}} </span>
            </div>

            {% endfor %}

            <div class="pull-right"> <a class="btn btn-primary" href="{{url_for('list', long_slug='animais')}}">Veja todos os animais</a> </div>
            <div class="clear"></div>

            <div class="grid_11 marg-right-0 comment-area">

               {{load_comment_area(content)}}

            </div>

        </div>

        <div class="grid_4">
            <h3><small>Objetivo: {{content.goal|asreal}}</small></h3>
            {% if content.balance %}
           <h4 class="padd-1">Ganhou R$ {{("%.2f" % content.balance or 0)|replace(".", ",")}} </h4>

           <div class="wrapper-extra">
                 <ul>
                     <li><strong>Colaboradores:</strong></li>
                     {% for donor in content.get_donor_list() %}
                     <li>- {{donor}}</li>
                     {% endfor %}
                 </ul>
           </div>
           {% else %}

           <h4 class="padd-1">Não recebeu uma doação :( </h4>
           <div class="wrapper-extra text-info">
            Seja o primeiro a fazer uma doação para {{content.title}}! <br>
            Escolha o valor e clique em "Fazer doação"
           </div>

           {% endif %}

           <!-- div class="wrapper-extra top">
              <span class="fleft number number-2">
                <span>2</span>
              </span>
              <div class="extra-wrap">
                  <a href="#" class="bold color hov font-13">Praesent justo dolor, lob
    ortis quis, lobort.</a>
                  <p class="top-3">Fusce euismod  ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. </p>
              </div>
           </div>

           <div class="wrapper-extra top">
              <span class="fleft number number-3">
                <span>3</span>
              </span>
              <div class="extra-wrap">
                  <a href="#" class="bold color hov font-13">Quisque diam lorem.</a>
                  <p class="top-3">Fusce euismod  ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. </p>
              </div>
           </div -->

   <!--         <h4 class="padd-4">Apoio</h4>
           <div>
             <img src="http://www.natalanimal.com.br/2012/static/lebidoutea.png">
           </div> -->
           <div class="clear"></div>



             <!--h3 class="padd-4">Testimonials</h3>
           <div class="comment bot-3">
              <div class="inner-1">
                  <p>Lorem ipsum dolor sit amet, consect etuer elit, sed diam nonmy nibh euisres mod tincidunt ut laoreet lore magna </p>
              </div>
           </div>
           <div class="fright bot-3"><span class="font-14">Mr. John Anderson</span></div>
           <div class="clear"></div>
           <a href="#" class="button ">View All<span></span></a -->

        </div>

     </div><!--the end of wrapper-->
</div>

{% endblock %}


{% block js_footer %}
{% if Config.get('comments', 'system') == 'internal' %}
<script>
$(function(){

    function bind_comment_form_submit(){
        $("form#comment-form").on("submit", function(e){
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR)
                {
                    //data: return data from server
                    $("#comment-area").html(data);
                    bind_comment_form_submit();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    //if fails
                }
            });
            e.preventDefault(); //STOP default action
        })
    }

    function load_internal_comments(){
        var comment_area = $("#comment-area" );
        comment_area.empty();
        comment_area.load( comment_area.attr('data-path'), function() {
            console.log( "Load was performed." );
            bind_comment_form_submit();
        });
    }

    load_internal_comments();

})
</script>
{% endif %}
{% endblock %}