{% from theme('_helpers.html') import render_grid, render_pagination with context %}
{% from theme("_menu.html") import current_menu with context %}
{% extends theme("base.html") %}

{%block title%} {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description}}">
<meta name="keywords" content="{{channel.tags|join(',')}}">
{% endblock %}



{% block content %}

    <div class="container_16">
        <div class="wrapper">
            <div class="grid_3">
                <h3 class="padd-3" style="margin-top:0;">Animais</h3>
            </div>
            <div class="grid_13">
                <a  {{current_menu([url_for('list', long_slug='animais')], class='btn btn-primary btn-xs', default="btn btn-default btn-xs")}} href="{{url_for('list', long_slug='animais')}}">Todos</a>
                {% for item in Channel.objects(mpath__startswith=",animais,", slug__ne='animais', published=True) %}
                     <a {{current_menu([item.get_absolute_url()], class='btn btn-primary btn-xs', default="btn btn-default btn-xs")}} class="btn btn-default btn-xs" href="{{item.get_absolute_url()}}">{{item.title}}</a>
                {% endfor %}
            </div>

            {% if channel.description %}
            <div class="grid_16">
            {{channel.get_text()|safe}}
            </div>
            {% endif %}

            <div class="grid_16">
            </div>

            {{render_grid(contents.items)}}
        </div><!--the end of wrapper-->

        <div class="wrapper">
            <div class="grid_16">
               {{render_pagination(contents, channel.get_absolute_url())}}
            </div>
        </div>

    </div>


{% endblock %}
