{% from theme('_helpers.html') import render_grid, render_pagination with context %}
{% extends theme("base.html") %}

{%block title%} {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description}}">
<meta name="keywords" content="{{channel.tags|join(',')}}">
{% endblock %}



{% block top %}

{% for item in get_random_campaign(items=4, long_slug__startswith='animais/') %}
{% with %}

    {%if loop.index > 1 %}
        {% set main_class="block-{}".format(loop.index -1) %}
    {% else %}
        {% set main_class="block" %}
    {% endif %}

    {%if loop.index % 2 != 0 %}

    <div class="{{main_class}}">
        <div class="panel-{{loop.index}} panel">
            <p>{{item.get_summary()|truncate(178)}}</p>
        </div>
        {% with main_image=item.get_main_image_url(thumb=False, default="http://placehold.it/236x250", identifier=["homeimage", "mainimage"]) %}
            {% if main_image %}
                <a href="{{item.get_absolute_url()}}"><img alt="{{item.title}}" src="{{main_image}}" width="236" height="250"/></a>
            {% endif %}
        {% endwith %}
        <a href="{{item.get_absolute_url()}}" class="link-{{loop.index}} link"><span></span>{{item.title}}<br><small>Ganhou R$ {{("%.2f" % item.balance or 0)|replace(".", ",")}}</small></a>
    </div>

    {% else %}

    <div class="{{main_class}}">
        <a href="{{item.get_absolute_url()}}" class="link-{{loop.index}} link"><span></span>{{item.title}}<br><small>Ganhou R$ {{("%.2f" % item.balance or 0)|replace(".", ",")}}</small></a>
        <div class="div-panel">
            <div class="panel-{{loop.index}} panel">
                <p>{{item.get_summary()|truncate(178)}}</p>
            </div>
            {% with main_image=item.get_main_image_url(thumb=False, default="http://placehold.it/236x329",  identifier=["homeimage", "mainimage"]) %}
                {% if main_image %}
                     <a href="{{item.get_absolute_url()}}"><img alt="{{item.title}}" src="{{main_image}}" width="236" height="250"/></a>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% endif %}

{% endwith %}
{% endfor %}
<div class="clear"></div>

<div class="pull-right"> <a class="button" href="{{url_for('list', long_slug='animais')}}">Veja todos os animais</a> </div>

<div class="clear"></div>

{% endblock %}


{% block content %}

{% with %}
<div class="container_16">
                <div class="wrapper bg-wrap">
    {% set welcome = get_content(slug=Config.get('site', 'welcome_slug', 'welcome')) %}
    {% set latest_news = get_contents(long_slug__startswith='blog/', limit=2) %}
    {% set latest_donations=get_latest_donations(limit=6) %}

                        <div class="grid_6 suffix_1" data-slug="{{Config.get('site', 'welcome_slug', 'welcome')}}">
                            {% if welcome %}
                            <a href="{{welcome.get_absolute_url()}}"><img width="340" height="149" src='{{welcome.get_main_image_url(thumb=False, default="http://placehold.it/340x149")}}' alt="{{welcome.title}}" class="top"></a>
                            <h2>{{welcome.title}}</h2>

                            <p class="font-14 top-1 bot" style="text-align:justify;">{{ welcome.get_summary()|safe }}</p>
                            <a href="{{welcome.get_absolute_url()}}" class="btn btn-primary pull-right">Leia mais<span></span></a>
                            {% endif %}
                        </div>

                        <div class="grid_4 suffix_1" data-longslug="blog/*">
                        {% if latest_news %}

                            <h3 class="padd"><a href="/blog" style="color:#262626;" class="padd">Blog</a></h3>
                            {% for new in latest_news %}
                            <div class="bd-top">
                                <span class="date dis-inblock bot-1"><a href="{{new.get_absolute_url()}}">{{new.title}}</a></span>
                                <p class=" bot-2">{{new.get_summary()|truncate(140)}}  </p>
                                <a href="{{new.get_absolute_url()}}" class="button-1">Leia mais</a>
                            </div>
                            {% endfor %}


                        {% endif %}
                        </div>

                        <div class="grid_4" data-item="latest_donations">
                        {% if latest_donations %}

                            <h3 class="padd">Últimas doações</h3>
                            <ul class="list">
                            {% for donation in latest_donations %}
                                <li>
                                    {{donation.display_name}}
                                    <span>
                                        {% for campaign in donation.values %}
                                        <a href="{{campaign.campaign.get_absolute_url()}}">{{campaign.campaign.title}}</a>
                                        {% if donation.values|length > 1 %}|{% endif %}
                                        {% endfor %}
                                     </span>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </div>

                </div> <!--the end of wrapper-->
</div>
{% endwith %}

{% endblock %}