{% macro link_to(text, endpoint) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text }}</a>
{%- endmacro %}


{% macro login_bar() %}

{% if current_user.is_authenticated() %}
    <small>Logado como: {{current_user.email}} </small><br>
    <small><a href="{{url_for_security('logout', next=url_for('cart.cart'))}}">Sair e entrar com um outro usuário</a> </small>
    {% else %}
    <a href="{{url_for_security('login', next=url_for('cart.cart'))}}" class="btn btn-default btn-xs">Login</a>
    <a href="{{url_for_security('register', next=url_for('cart.cart'))}}" class="btn btn-success btn-xs">Cadastre-se</a>
<a class="zocial google" style="font-size:9px;" href="{{url_for('oauth_login', provider='google')}}" title="Login com Google">Google</a>
<a class="zocial facebook" style="font-size:9px;" href="{{url_for('oauth_login', provider='facebook')}}" title="Login com Facebook">Facebook</a>
    {% endif %}

{% endmacro %}

{% macro render_mini_grid_item(content) %}
<div class="grid_6 bot-2 marg-left-0">
    {% with main_image=content.get_main_image_url(thumb=True, default="http://placehold.it/100x70") %}
        {% if main_image %}
        <a href="{{content.get_absolute_url()}}" class="grid_2">
            <img class="img-thumbnail" src="{{main_image}}" width="100" height="70"/>
        </a>
        {% endif %}
    {% endwith %}
    <p class="grid_3 marg-right-0">
    <strong>{{content.title}}</strong><br />
    <small>{{content.channel.title}}</small><br/>
    <small>Ganhou: {{content.balance|asreal}}</small>
    </p>

</div>
{% endmacro %}

{% macro render_mini_grid(contents) %}
   {% for content in contents %}
       {{render_mini_grid_item(content)}}
   {% endfor %}
{% endmacro %}


{% macro render_grid_item(content) %}
<div class="grid_4 bot-4 animal">
    {% with main_image=content.get_main_image_url(thumb=True, default="http://placehold.it/200x200") %}
        {% if main_image %}
        <a href="{{content.get_absolute_url()}}" class="img-ribbon" title="clique para saber mais">
            <img class="img-rounded" src="{{main_image}}" width="200" height="200"/>
        </a>
        {% endif %}
    {% endwith %}
    <h4 class="top-3">{{content.title}}<small class="pull-right" style="margin-right:20px;line-height:17px;"><span>Ganhou:</span>{{content.balance|asreal}}</small></h4>
    <p class="top-3 bot-2 summary">{{content.get_summary()|truncate(140)}}</p>
    <a href="{{content.get_absolute_url()}}" style="margin-right:20px;" class="btn btn-primary btn-xs pull-right">Saiba mais</a>
</div>
{% endmacro %}

{% macro render_grid(contents) %}
   {% for content in contents %}
       {{render_grid_item(content)}}
       {% if loop.index == 4 %}
       <div class="clear"></div>
       {% endif %}
   {% endfor %}
{% endmacro %}


{% macro render_list_item(content) %}
<div class="grid_16">
    <h3>
        <a href="{{ content.get_absolute_url() }}">
            {{ content.title }}
        </a>
    </h3>
    {% with main_image=content.get_main_image_url(thumb=True, default=None) %}
        {% if main_image %}
            <img class="img-rounded" src="{{main_image}}" style="float:left; margin-right: 10px;margin-bottom:10px;"/>
        {% endif %}
    {% endwith %}
    <p>
      {{content.get_summary()|truncate(255)|safe()}}
    </p>
    <p>
        Publicado às {{ content.created_at.strftime('%H:%M de %d/%m/%Y') }}
    </p>
    <p>
        <a class="btn btn-primary" href="{{ content.get_absolute_url() }}" role="button">leia mais &raquo;</a>
    </p>
</div><!--/span-->
{% endmacro %}

{% macro render_list(contents) %}
   {% for content in contents %}
       {{render_list_item(content)}}
   {% endfor %}
{% endmacro %}


{# --- Content areas ----- #}
{% macro load_share_area(content) %}

<div class="pw-widget pw-counter-horizontal bot-2">
    <a class="pw-button-googleplus pw-look-native"></a>
    <a class="pw-button-facebook pw-look-native"></a>
    <a class="pw-button-twitter pw-look-native"></a>
</div>
<div class="pw-widget pw-counter-horizontal bot-2">
    <a class="pw-button-pinterest pw-look-native"></a>
    <a class="pw-button-email pw-look-native"></a>
    <a class="pw-button-post-share"></a>
</div>
<script src="http://i.po.st/static/v3/post-widget.js#publisherKey=63hi4oud9sopiu82pave" type="text/javascript"></script>

{% endmacro %}


{% macro render_recommend_item(content) %}
<div class="col-6 col-sm-6 col-lg-4">
    <h4>
        <a href="{{ content.get_absolute_url() }}">
            {{ content.title }}
        </a>
    </h4>
    {% with main_image=content.get_main_image_url(thumb=True, default=None) %}
        {% if main_image %}
            <img  class="img-rounded" src="{{main_image}}" style="float:left; margin-right: 10px;margin-bottom:10px;"/>
        {% endif %}
    {% endwith %}
    <p>
      {{content.get_summary()|truncate(140)|safe()}}
    </p>
    <p>
        <small>Published at {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}</small>
    </p>
    <p>
        <a class="btn btn-default btn-xs" href="{{ content.get_absolute_url() }}" role="button">Read more &raquo;</a>
    </p>
</div><!--/span-->
{% endmacro %}


{% macro load_recommendation_area(content) %}

 {% with %}
   {% set recommendations=content.get_recommendations()%}
      {% if recommendations %}
        <div class="col-12 col-sm-12 col-lg-12 clearfix">
          <div class="page-header">
             <h3>You may also like</h3>
          </div>
         {% for item in recommendations %}
            {{render_recommend_item(item)}}
         {% endfor %}
       </div>
     {% endif %}
 {% endwith %}

{% endmacro %}

{% macro load_tags_area(content) %}
 <div>
  {% for tag in content.tags %}
      <a class="label label-default" href="{{url_for('tag', tag=tag)}}">{{tag}}</a>
  {% endfor %}
 </div>
{% endmacro %}

{% macro load_comment_area(content) %}
    {% if content.comments_enabled %}
        {% if Config.get('comments', 'system') == 'internal' %}

            <div id="comment-area" data-system="internal" data-path="{{url_for('comments.comment', path=content.long_slug)}}"></div>
        {% elif Config.get('comments', 'system') == 'disqus'%}

           {{Config.get('comments', 'disqus_script', '')|safe()}}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro load_page_header(content, link=False) %}

      {% if link %}
      <h3 class="padd-3" style="margin-top:0;"><a href="{{ content.get_absolute_url() }}">
            {{ content.title }}
        </a></h3>
      {% else %}
      <h3 class="padd-3" style="margin-top:0;">{{ content.title }}</h3>
      {% endif %}

{% endmacro %}

{% macro load_page_time(content) %}
    {%if content.created_by %}
        {{ content.created_by.name }}
    {%else%}
        {{Config.get('site', 'site_author', '')}}
    {%endif%} em {{ content.created_at.strftime('%d/%m/%Y') }} às {{ content.created_at.strftime('%H:%M') }}
{% endmacro %}


{% macro load_page_content(content, truncate=None) %}
<p>
    {% with main_image=content.get_main_image_url(thumb=False, default=None) %}
        {% if main_image %}
            <img class="img-rounded" src="{{main_image}}" style="float:left; margin-right: 20px;margin-bottom:20px;width:200px;"/>
        {% endif %}
    {% endwith %}


    {{ content.get_text()|safe() }}

</p>
{% endmacro %}

{# blog list#}


{%macro render_blog_item(content) %}
    {{load_page_header(content, link=True)}}
    <div class="grid_16">
        <small>{{load_page_time(content)}}</small>
    </div>
    <div class="grid_16">
        {{load_page_content(content)}}
    </div>
    <div class="grid_16">
        {{load_tags_area(content)}}
    </div>
    <div class="grid_16">
        <hr />
    </div>

{% endmacro %}


{% macro render_blog(contents) %}
   {% for content in contents %}
       {{render_blog_item(content)}}
   {% endfor %}
{% endmacro %}


{# --------- pagination ----------- #}

{% macro render_pagination(pagination, endpoint) %}
  {% if pagination.pages > 1 %}
  <ul class="pagination">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        {% if not request.args.get('per_page') %}
         <li><a href="{{ '{}?page={}'.format(endpoint, page) }}">{{ page }}</a></li>
         {% else %}
          <li><a href="{{ '{}?page={}&per_page={}'.format(endpoint, page, request.args.get('per_page')) }}">{{ page }}</a></li>
         {% endif %}
      {% else %}
        <li class="active"><a href="{{request.full_path}}"><strong>{{ page }}</strong></a></li>
      {% endif %}
    {% else %}
      <li class="disabled">…</li>
    {% endif %}
  {%- endfor %}
  </ul>
  {% endif %}
{% endmacro %}
