{% from theme("_menu.html") import current_menu with context %}
{% from theme('_helpers.html') import login_bar with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block title%}{{Config.get('site', 'site_name', 'Quokka site')}}{% endblock %}</title>

    <base href="{{request.url_root}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block seo_meta %}
    <meta name="description" content="{{Config.get('site', 'site_description')}}">
    <meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
    {% endblock %}

    {% block og_meta %}

    <meta property='fb:app_id' content='429204210466603' />
    {% if content %}
        <meta property="og:type" content="article" />
    {%else%}
        <meta property="og:type" content="website" />
    {%endif%}

    {% if content %}
    <meta property="og:url" content="{{request.url_root[:-1]}}{{content.get_canonical_url()}}" />
    {% elif channel %}
    <meta property="og:url" content="{{request.url_root[:-1]}}{{channel.get_canonical_url()}}" />
    {%endif %}

    {% if content %}
    <meta property="og:title" content="{{Config.get('site', 'site_name', 'Quokka site')}} | {{content.title}}" />
    {% elif channel %}
    <meta property="og:title" content="{{Config.get('site', 'site_name', 'Quokka site')}} | {{channel.title}}" />
    {% endif %}

    {% if content %}
    <meta property="og:description"  content="{{content.get_summary()}}" />
    {% elif channel %}
    <meta property="og:description"  content="{{Config.get('site', 'site_description')}}" />
    {% endif %}

    {% if content %}
    <meta property="og:image"  content="{{request.url_root[:-1]}}{{content.get_main_image_url(thumb=True)}}" />
    {% else %}
    <meta property="og:image"  content="{{request.url_root[:-1]}}{{theme_static('img/logos/logo_4.png')}}" />
    {% endif %}


    {% endblock%}


    {% with %}
        {% set g_s_v = Config.get('site', 'google-site-verification')%}
        {% if g_s_v %}
        <meta name="google-site-verification" content="{{g_s_v}}" />
        {% endif %}
    {% endwith %}

    <meta name="author" content="{{Config.get('site', 'site_author')}}">
    {% block meta %}{% endblock %}
    {%if content %}
      <link rel="canonical" href="{{content.get_canonical_url()}}"/>
    {% elif channel %}
      <link rel="canonical" href="{{channel.get_canonical_url()}}"/>
      <link rel="alternate" type="application/atom+xml" title="Posts (Atom 0.3)" href="{{url_for('atom_list', long_slug=channel.long_slug)}}">
    {% endif %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{theme_static('css/reset.css')}}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{theme_static('css/united.css')}}">

   <link rel="stylesheet" type="text/css" media="screen" href="{{theme_static('css/lightcase.css')}}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{theme_static('css/style.css')}}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{theme_static('css/grid.css')}}">
    <link rel="stylesheet" href="{{theme_static('css/zocial/zocial.css')}}">
    <link rel="icon" href="{{theme_static('images/favicon.ico')}}" type="image/x-icon">
	<link rel="shortcut icon" href="{{theme_static('images/favicon.ico')}}" type="image/x-icon" />

    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="{{theme_static('js/html5.js')}}"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="{{theme_static('css/ie.css')}}">
	<![endif]-->
    {% block head%}{% endblock %}

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=429204210466603";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--==============================header=================================-->
<div class="main">
    <div class="main-1">
    	<div class="main-div">
    		<div class="div-content">
                 <header>
                    <div class="pull-right" style="position:absolute;right:0;top:10px">
                    {{login_bar()}}
                    </div>
                  {% block header %}

                   {% block logo %}
                   {% with %}
                   {% set random_logo = randomize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]) %}

                   <h1><a href="/"><img src="{{theme_static('img/logos/logo_{0}.png'.format(random_logo))}}" alt=""></a></h1>
                   {% endwith %}
                   {% endblock %}

                   {% block nav %}
                   <nav class="main_nav">
                     <ul class="sf-menu">
                         <li {{current_menu(["/"]) }}><a href="/">Início</a></li>
                          <li {{current_menu([url_for('detail', long_slug='home/sobre-o-projeto'), url_for('detail', long_slug='/sobre-o-projeto')]) }}><a href="{{url_for('detail', long_slug='home/sobre-o-projeto')}}">Sobre o projeto</a>

                            <!-- span class="indicator-1"></span>
                           <ul>
                              <li><a href="#">history</a></li>
                               <li><a href="#">staff</a>
                               <ul>
                                   <li><a href="#">fresh</a></li>
                                   <li><a href="#">archive</a></li>
                                </ul>
                               </li>
                               <li><a href="#">our news</a></li>
                            </ul -->

                          </li>
                          <li {{current_menu([url_for('list', long_slug='animais')]) }}><a href="{{url_for('list', long_slug='animais')}}">Animais</a></li>
                          <li {{current_menu(["/extrato/"]) }}><a href="{{url_for('natalanimal.extrato')}}">Extrato financeiro</a></li>

 <li {{current_menu(["/blog/"]) }}><a href="{{url_for('list', long_slug='blog')}}">Blog</a></li>

                          <li {{current_menu([url_for('cart.cart')]) }}><a href="{{url_for('cart.cart')}}">Sua doação</a>
                          {% with cart=get_current_cart(save=False, no_dereference=True) %}
                              {% if cart %}
                                  {{"R$ %.2f" % cart.total}}
                              {% endif %}
                          {% endwith %}
                          </li>
                      </ul>
                    </nav>
                    {% endblock %}
                    <div class="clear"></div>

              {% endblock %}
              </header>



              <div class="box">
              {% block top %}

              {% endblock %}
              </div>

    				<!--==============================content================================-->
            <section id="content">
            {% block content %}

            {% endblock %}
            </section>
    		</div>
    	</div>

    	<!--==============================footer=================================-->
    	<aside>
            {% block footer %}

            <div class="container_16">
               <div class="wrapper bg-wrap-aside">
                   <div class="grid_5 suffix_1">
                       <h3>Acompanhe o Natal Animal nas redes sociais</h3>
                       <a target="_blank" href="http://twitter.com/natalanimal" class="zocial twitter icon"></a>
                       <a target="_blank" href="http://facebook.com/natalanimal"  class="zocial facebook icon"></a>
                       <a target="_blank" href="https://plus.google.com/u/0/105994410250121848821/posts" class="zocial googleplus icon"></a>
                       <a target="_blank" href="http://instagram.com/natalanimal"  class="zocial instagram icon"></a>
                       <h3> #compartilhe </h3>
                       <div class="pw-widget pw-counter-vertical">
    <a class="pw-button-googleplus pw-look-native"></a>
    <a class="pw-button-facebook pw-look-native"></a>
    <a class="pw-button-twitter pw-look-native"></a>
    <a class="pw-button-post-share"></a>
</div>
<script src="http://i.po.st/static/v3/post-widget.js#publisherKey=63hi4oud9sopiu82pave" type="text/javascript"></script>

                   </div>
                   <div class="grid_6">
                       <ul>
	                       	<li><a href="{{url_for('detail', long_slug='home/sobre-o-projeto')}}">Sobre o projeto </a><strong><a href="#"></a></strong></li>
	                       	<li><a href="{{url_for('detail', long_slug='home/beneficiados')}}">Abrigos/Santuários beneficiados</a></li>
	                       	<li><a href="{{url_for('detail', long_slug='home/edicoes')}}">Anos anteriores</a></li>
	                       	<li><a href="{{url_for('natalanimal.extrato')}}">Extrato financeiro</a></li>
                            <li><a href="mailto:natalanimal@gmail.com">Contato</a></li>
                       </ul>
                   </div>
                   <div class="grid_4">
                       <div style="margin-bottom:15px;" class="fb-like-box" data-href="http://www.facebook.com/natalanimal" data-width="220" data-height="220" data-show-faces="true" data-border-color="red" data-stream="false" data-header="false"></div>
                   </div>
               </div>
            </div>

	        <footer>
	    		<div class="main-footer">
	    	        <div class="container_16">
	    	            <div class="grid_16">
	    	                <p>{{Config.get('site', 'site_name')}} &copy; <img src="{{theme_static('images/marker.jpg')}}" alt=""> <span class="pull-right"><a title="Desenvolvido com Quokka CMS" href="http://quokkaproject.org" target="_blank">Quokka CMS</a></span></p>
	    	            </div>
	    	            <div class="clear"></div>
	    	        </div>
	    	    </div>
	    	</footer>

        {% endblock %}
        </aside>

    </div>
</div>

    <!-- script src="{{theme_static('js/jquery-1.7.1.min.js')}}"></script -->
    <script src="{{theme_static('js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{theme_static('js/jquery.easing.1.3.js')}}"></script>
    <script src="{{theme_static('js/superfish.js')}}"></script>
    <script src="{{theme_static('js/jquery.hoverIntent.minified.js')}}"></script>
    <script type="text/javascript" src="{{theme_static('js/jquery.bouncebox.1.0.js')}}"></script>
    <script src="{{theme_static('js/jquery.ui.totop.js')}}"></script>
    <script src="{{theme_static('js/lightcase.js')}}"></script>
    <script>
     $(window).load(function(){
        $('.panel-1').bounceBox();
        $('.link-1').hover(function(e){
        $('.panel-1').bounceBoxToggle();
            e.preventDefault();
        });
        $('.panel-1').hover(function(){
            $('.panel-1').bounceBoxHide();
        });
        $('.panel-2').bounceBox();
        $('.link-2').hover(function(e){
        $('.panel-2').bounceBoxToggle();
            e.preventDefault();
        });
        $('.panel-2').hover(function(){
            $('.panel-2').bounceBoxHide();
        });
        $('.panel-3').bounceBox();
        $('.link-3').hover(function(e){
        $('.panel-3').bounceBoxToggle();
            e.preventDefault();
        });
        $('.panel-3').hover(function(){
            $('.panel-3').bounceBoxHide();
        });
        $('.panel-4').bounceBox();
        $('.link-4').hover(function(e){
        $('.panel-4').bounceBoxToggle();
            e.preventDefault();
        });
        $('.panel-4').hover(function(){
            $('.panel-4').bounceBoxHide();
        });
         $().UItoTop({ easingType: 'easeOutQuart', text: 'To Top', });
    });

    jQuery(document).ready(function($) {
        $('a[data-rel^=lightcase]').lightcase('init');
    });
    </script>

    {% block js_footer %}{% endblock %}

    {% with %}
        {% set g_a = Config.get('site', 'google-analytics')%}
        {% if g_a %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{g_a}}']);
          _gaq.push(['_setDomainName', '{{Config.get("site", "site_domain", request.url_root.strip("https:/"))}}']);
          _gaq.push(['_setAllowLinker', true]);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% endif %}
    {% endwith %}

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?1jCb9FQo7fTbC1a7EyA1mKKQCABQX3sq';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->

</body>
</html>